.card{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;


  .container{
    display: flex;
    margin:15px;

    .left{
      margin-right: 10px;
      img{
        height: 220px;
        width: 220px;
        border-radius: 20px;
      }
    }

    .right{

      .form-input{
        width: 500px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}